%p#notice= notice
%p
  %b Shortened url:
  =link_to "http://localhost:3000/" + @short_url.shortened_url, "http://localhost:3000/" + @short_url.shortened_url
%p
  %b Actual url:
  = @short_url.actual_url

= link_to 'Edit', edit_short_url_path(@short_url)
\|
= link_to 'Back', short_urls_path
