-if current_user.auth_token.present?
    .panel.panel-default
        .panel-body
            %p YOUR AUTH TOKEN
            =current_user.auth_token 
-else
    =link_to "Generate Auth Token", users_generate_auth_token_path, class: "btn btn-success"